.foooter-line{
    margin-top: 30px;
    height:1px;
    background-color: white;
  }
  .line-footer{
    background-color: white;
    width:1px;
  }
  .footer-about{
    margin-left: 20px;
    border-left: solid 1px white;
  }
  @media screen 
  and (min-width:320px)
  and (max-width:480px){
      #email{
          width:70%;
      }
      .footer-about{
        margin: 0;
      }
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(46, 46, 95);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
      }
      .snav{
        margin-left: 320px;
        color: white;
        position:relative;
        top:-100px;
      }
      .slideshowcontainer {
        position: relative;
        width: 100%;
        height: 500px;
        margin-bottom: 140px;
      }.slide {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
      }.slide:first-child {
        display: block;
      }.prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 24px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
      }.next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      .dropbtn {
        background-color: transparent;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(46, 46, 95);
       width: 230px;
       color:white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: white;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
      }
      
      .dropdown-content a:hover {color:brown;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: transparent;
      }    