#webnav{
    position: fixed;
    z-index: 10;
    margin-bottom: 30px;
      padding-top: 10px;
    background-color:rgb(46, 46, 95);   
    height:70px;
  }
  .logo{
    display:block;
    z-index: 10;
      background-color: rgb(46, 46, 95);
      height:110px;
  }
  li {
      display: block;
      transition-duration: 1.5s;
     }
      
     ul li ul {
       visibility: hidden;
       opacity: 0;
       position: absolute;
       transition: all 0.5s ease;
       margin-top: 1rem;
       left: 0;
       display: none;
     }
     
     ul li:hover > ul,
     ul li ul:hover {
       visibility: visible;
       opacity: 1;
       display: block;
     }
     
     ul li ul li {
       clear: both;
       width: 100%;
     }
     .navitems{
      font-weight: 300;
      font-size: small;
      display:flex;
      margin-top: -90px;
      color:white;
      margin-left: 450px;
     }
     .drop1{
      cursor: auto;
      padding-top: 30px;
      background-color: white;
      height:350px;
      border: 0.1px solid black;
      margin-left: 400px; 
     }
     .aboutI{
      top:-220px;
      position: relative;
      margin-left: 300px;
     }
     .AboutL{
      font-size: small;
      color: black;
     }
     .Aboutdivider{
      position: relative;
      top:-430px;
      margin-left:600px;
      height: 300px;
      width:4px;
      background-color: gold;
     }
     .learndivider{
      position: relative;
      top:-450px;
      margin-left:700px;
      height: 300px;
      width:4px;
      background-color: gold;
     }
     .about{
      margin-bottom: 20px;;
      position: relative;
      font-size: small;
      color: black;
      text-decoration: none;
     }
     .about-links{
   margin-left: 20px;
     }
     .a-links{
      font-size: 15px;
      font-weight: 300;
      text-decoration: none;
      color:black;
     }
     .a-links:hover{
      color:brown;
     }
     .Nlinks{
      color:white;
      font-weight: 400;
     }
     .about:hover{
      color:brown;
     }
     .drop2{
     transition:2.0s;
      cursor:auto;
      padding-top: 30px;
      background-color: white;
      height:350px;
      border: 0.1px solid black; 
     }
     .learnbox{
      margin-top: -250px;
     }
     .learnInfo{
      color:black;
     }
     .learnlinks{
      position: relative;
      top:-750px;
      left:10px;
      text-decoration: none;
      font-size: 15px;
      color:black;
      display: block;
     }
     .Learn{
      margin-bottom: 20px;
      color:black;
      text-decoration: none;
      display: block;
     }
     .Learn:hover{
      color:brown;
     }
     .drop3{
      cursor:auto;
      padding-top: 30px;
      background-color: white;
      height:350px;
      border: 0.1px solid black; 
     }
     .gallerypic{
      height:250px;
     }
     .Galleryinfo{
      margin-top: -250px;
     }
     .galleryi{
      color:black;
     }
     .Gdivider{
      height: 300px;
      background-color: gold;
      width:2px;
      margin-top: -130px;
     }
     .galleryB{
      margin-top: -280px;
     }
     .schoolS{
      margin-bottom:20px;
      color: black;
      display: block;
      text-decoration: none;
     }
     .schoolS:hover{
       color:brown;
     }
     .portal{
      border:1px solid black;
      background: red;
      height:30px;
      border-radius: 2px;
     }
     .portal:hover{
      text-decoration: underline;
     }
     #mobilenav{
      z-index:10;
      position: fixed;
      margin-bottom: 50px;
      height:70px;
      background-color: rgb(46, 46, 95);
     }
     .logoM{
      background-color: rgb(46, 46, 95);
      height:68px;
      width:40%;
  }
  .Mdivider{
    margin-left: 300px;
    height:50px;
    background-color: white;
    width:2px;
    position: relative;
    top:-60px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .snav{
    margin-left: 320px;
    color: white;
    position:relative;
    top:-100px;
  }
  .slideshowcontainer {
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 140px;
  }.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }.slide:first-child {
    display: block;
  }.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .buttonN:hover{
    color:rgb(187, 65, 65);
  }
  .C-boxes{
    display:block;
    height:50px;
    background-color: rgb(114, 0, 0);
    color:white;
  } 
  .Contact-boxes{
    right:0;
    top:20%;
    position: fixed;
    z-index: 6;
    float: right !important;
    /* height:200px; */
    display: block;
  }
  .C-boxes{
    border-radius: 2%;
    font-size: small;
    margin-bottom: 2px;
    border:transparent;
    width:60px;
    display:block;
    height:80px;
    background-color: rgb(114, 0, 0);
    color:white;
  }
  .writeup{
    padding-top: 40px;
    height:600px;
    background-color:rgb(252, 252, 252);
  }
  .sidelinks{
    padding-top: 20px;
    padding-left: 40px;
    margin-left: 40px;
    width: 100%;
    height:430px;
    background-color: rgb(235, 235, 235);
  }
  .divider{
    background-color:rgb(179, 179, 179);
    height:2px;
    margin-bottom: 20px;
  }
  .sidelinks>a{
    text-decoration: none;
    color:black
  }
  .links:hover{
  color:brown;
  }
  .links{
    font-size:12px;
  }
  .about{
    margin-top:-430px;
    margin-left: 300px;
  }
  .about-line{
    background-color: gold;
    height: 2px;
  }
  .learn-c{
    color:rgba(139, 255, 216, 0.897);
  }
  .learn-c:hover{
    color: rgba(139, 255, 216, 0.897);
  }
  .mission{
    color:black;
  }
  .mission:hover{
    color:black;
  }
  .join{
    padding-top: 40px;
    height:500px;
    margin-top: 100px;
  }
  .footer-line{
    margin-bottom: 20px;
    height:2px;
    background-color: white;
  }
  .inquireB{ 
    transition:0.5s;
    color:white;
    border-radius: 5px;
    height:60px;
    background: transparent;
    border: solid white 4px;
  }
  .staff{
    margin-top: -250px;
    margin-left: 300px;
    height:300px;
  }
  .inquireB:hover{
    border:none;
   background: darkred;
   font-weight: 700;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
     @media only screen and (min-width:320px) and (max-width:480px){
      #webnav {
        display:none;
      }
  .landingpage{
    margin-top: 50px;
  }
      #mobilenav{
        top:0;
        display: block;
    }
    .sidelinks{
        display: none;
    }
    .about{
        margin:0;
    }
    .about-line{
        display:none;
    }
    .About-r{
        display: none;
    }
    .Contact-boxes{
        display:none;
    }
}
    @media screen and (min-width:1030px) and (max-width:1366px){
     #mobilenav{
      display: none;
     }
     .about-line{
        margin-bottom: 50px;
     }
  }