
#webnav{
  position: fixed;
  z-index: 10;
  margin-bottom: 30px;
    padding-top: 10px;
  background-color:rgb(46, 46, 95);   
  height:70px;
}
.logo{
  display:block;
  z-index: 10;
    background-color: rgb(46, 46, 95);
    height:110px;
}
li {
    display: block;
    transition-duration: 0.5s;
   }
    
   ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 1.5s ease;
     margin-top: 1rem;
     left: 0;
     display: none;
   }
   
   ul li:hover > ul,
   ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
     transition:2.5s;
   }
   
   ul li ul li {
    transition: 4.5s;
     clear: both;
     width: 100%;
   }
   .navitems{
    font-weight: 300;
    font-size: small;
    display:flex;
    margin-top: -90px;
    color:white;
    margin-left: 450px;
   }
   .drop1{
    transition: 4.5s;
    cursor: auto;
    padding-top: 30px;
    background-color: white;
    height:350px;
    border: 0.1px solid black;
    margin-left: 400px; 
   }
   .aboutI{
    top:-220px;
    position: relative;
    margin-left: 300px;
   }
   .AboutL{
    font-size: small;
    color: black;
   }
   .Aboutdivider{
    position: relative;
    top:-430px;
    margin-left:600px;
    height: 300px;
    width:4px;
    background-color: gold;
   }
   .learndivider{
    position: relative;
    top:-450px;
    margin-left:700px;
    height: 300px;
    width:4px;
    background-color: gold;
   }
   .about{
    margin-bottom: 20px;;
    position: relative;
    font-size: small;
    color: black;
    text-decoration: none;
   }
   .about-links{
 margin-left: 20px;
   }
   .a-links{
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color:black;
   }
   .a-links:hover{
    color:brown;
   }
   .Nlinks{
    color:white;
    font-weight: 400;
   }
   .about:hover{
    color:brown;
   }
   .drop2{
    cursor:auto;
    padding-top: 30px;
    background-color: white;
    height:350px;
    border: 0.1px solid black; 
   }
   .learnbox{
    margin-top: -250px;
   }
   .learnInfo{
    color:black;
   }
   .learnlinks{
    position: relative;
    top:-750px;
    left:10px;
    text-decoration: none;
    font-size: 15px;
    color:black;
    display: block;
   }
   .Learn{
    margin-bottom: 20px;
    color:black;
    text-decoration: none;
    display: block;
   }
   .Learn:hover{
    color:brown;
   }
   .drop3{
    cursor:auto;
    padding-top: 30px;
    background-color: white;
    height:350px;
    border: 0.1px solid black; 
   }
   .gallerypic{
    height:250px;
   }
   .Galleryinfo{
    margin-top: -250px;
   }
   .galleryi{
    color:black;
   }
   .Gdivider{
    height: 300px;
    background-color: gold;
    width:2px;
    margin-top: -130px;
   }
   .galleryB{
    margin-top: -280px;
   }
   .schoolS{
    margin-bottom:20px;
    color: black;
    display: block;
    text-decoration: none;
   }
   .schoolS:hover{
     color:brown;
   }
   .portal{
    border:1px solid black;
    background: red;
    height:30px;
    border-radius: 2px;
   }
   .portal:hover{
    text-decoration: underline;
   }
   #mobilenav{
    z-index:10;
    position: fixed;
    margin-bottom: 50px;
    height:70px;
    background-color: rgb(46, 46, 95);
   }
   .logoM{
    background-color: rgb(46, 46, 95);
    height:68px;
    width:40%;
}
.Mdivider{
  margin-left: 300px;
  height:50px;
  background-color: white;
  width:2px;
  position: relative;
  top:-60px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
.snav{
  margin-left: 320px;
  color: white;
  position:relative;
  top:-100px;
}
.slideshowcontainer {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 140px;
}.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}.slide:first-child {
  display: block;
}.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.buttonN:hover{
  color:rgb(187, 65, 65);
}
.Contact-boxes{
  right:0;
  top:20%;
  position: fixed;
  z-index: 6;
  float: right !important;
  /* height:200px; */
  display: block;
}
.C-boxes{
  border-radius: 2%;
  font-size: small;
  margin-bottom: 2px;
  border:transparent;
  width:80px;
  display:block;
  height:80px;
  background-color: rgb(114, 0, 0);
  color:white;
}
.Wdivider{
  height:2px;
  margin-bottom: 20px;
  background-color: rgb(209, 209, 209);
}
.welcomepic{
  height:350px;
}
.welcome-text{
  position: relative;
  left:20px;
  margin-top: -350px;
  color: black;
}
.innoviative{
  color: rgb(56, 56, 161);
}
.welcome-textInside{
  font-size: 20px;
  font-weight:200;
  margin-bottom: 70px;
}
.welcome-line{
  z-index: 10;
  width: 100%;
  height:2px;
  background-color: gold;
}
.read-more{
  font-weight: 300;
  text-decoration: none;
}
.read-more:hover{
  text-decoration: underline;
}
.discover{
  padding-top: 20px;
  margin-top: 100px;
  height:550px;
  background-color: rgb(46, 46, 95);
}
.discover-text{
  color:white;
  text-align: center;
}
.discover-line{
  height: 2px;
  background-color: grey;
}
#eyfspic{
 height: 300px;
}
#primarySpic{
  height: 300px;
}
.sing{
  height:300px;
}
.science{
  height:300px;
}
.exploreline{
  margin-bottom: 20px;
  height:2px;
  background-color: #818181;
}
.explore{
  background-color: rgb(248,246,246);
}
.college{
  background-size: cover;
}
.join{
  margin-bottom: 70px;
  padding-top: 40px;
  height:500px;
  margin-top: 100px;
}
.footer-line{
  margin-bottom: 20px;
  height:2px;
  background-color: white;
}
.inquireB{ 
  transition:1.4s;
  color:white;
  border-radius: 5px;
  height:60px;
  background: transparent;
  border: solid white 4px;
}
.inquireB:hover{
  border:none;
 background: darkred;
 font-weight: 700;
}
footer{
  background-color: rgb(46, 46, 95);
  height:500px;
  color:white;
  padding-top: 40px;
}
.update{
  font-family: cursive;
 margin-left: 20px; 
}
.submit{
  height:40px;
  border: none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
   @media only screen and (min-width:320px) and (max-width:480px){
    #webnav {
      display:none;
    }
    #mobilenav{
      top:0;
      display: block;
    }
    .welcome-text{
      overflow: hidden;
      margin-top:500px;
    }
    .welcome-textInside{
    font-size: medium;
    }
    .welcomepic{
      width:100%;
    }
    .slideshowcontainer{
      height:100%;
    }
    .slideshowcontainer{
      margin-top: 120px;
      top:-70px;
      position: relative;
      display:block;
    }
    .welcome-textInside{
      width:100%;
    }
    .C-boxes{
      display:block;
      height:50px;
      background-color: rgb(114, 0, 0);
      color:white;
    } 
  .discover{
    height:1800px;
  }
  .welcomepic{
    margin-bottom: -500px;
   }
   .community{
    margin: auto;
   }
   .explore{
    margin-bottom: 100px;
    margin-top: -200px;
    height:700px;
   }
   .learningB{
    margin-bottom: 30px;
   }
   .Athletics{
    margin-bottom: 30px;
   }
   .competition{
    background-size: cover;
    width:100%;
    margin-bottom: 30px;
   }
  }
  @media screen and (min-width:1030px) and (max-width:1366px){
   #mobilenav{
    display: none;
   }
   .C-boxes{
    border-radius: 2%;
    font-size: small;
   width:60px;
    display:block;
    height:60px;
    background-color: rgb(170, 0, 0);
    color:white;
  }
  .welcomepic{
    width:90%;
  }
  .discover{
    position: relative;
    top: -500px;
  }
  .primaryschool{
    margin-left: 380px;
    margin-top: -415px;
    position: relative;
  }
.discover{
  margin-bottom: 10px;
    margin-top: 600px;
  } 
.highschoolday{
  position:relative;
margin-left: 730px;
margin-top: -415px;
}
.highschoolboarding{
  position: relative;
  right:-50px;
  margin-top: -415px;
  margin-left:1010px;
}
.science{
  width:250px;
}
.learningB{
  margin-left: 20px;
}
.Athletics{
  margin-bottom: 20px;
  margin-top: -300px;
  margin-left:940px !important;
}
.competition{
  margin-top: 40px;
  margin-left:20px;
  width:48%;
}
.explore{
  height:500px;
  margin-top: -240px;
}
.college{
  margin-left:700px;
  margin-top: -460px;
}
.innovation{
  margin-left:680px;
  margin-top: 10px;
}
.charity{
  margin-left:1030px;
  margin-top: -250px;
}
}